@page "/Contracts/Index"
@model ContractTZ.Pages.Shared.IndexModel
@{
    Layout = "_Layout";
}

<body>
	
	<div class="row mt-5 mb-2">
		<table class="table">
			<tr>
				<th scope="col">ИДЕНТИФИКАТОР</th>
				<th scope="col">ШИФР ДОГОВОРА</th>
				<th scope="col">НАИМЕНОВАНИЕ ДОГОВОРА</th>
				<th scope="col">ЗАКАЗЧИК</th>
				<th scope="col">ЭТАПЫ</th>
			</tr>
		</table>
		<script src="~/js/site.js"></script>
	</div>
			
</body>
